In [24]:
import pandas as pd
import sys
import math

In [25]:
# (price range, box size)
box_ranges = [(.25,.0625),
              (1,.125), 
              (5,.25),
              (20,.5),
              (100,1),
              (200,2),
              (500,4),
              (1000,5),
              (25000,50),
              (sys.maxsize,500)]

In [26]:
def updateBoxSize(price):
    
    for i in range (len(box_ranges)):
        if price < box_ranges[i][0]:
            return box_ranges[i][1]
    return None

#     if XO == 'X':
#         for i in range(len(box_ranges)):
#             if high < box_ranges[i][1]:
#                 return box_sizes[i]
#     else:
#         for i in range(len(box_ranges)):
#             if low < box_ranges[i][1]:
#                 return box_sizes[i]
            
#     # should never get to here but just to be safe
#     return None# returns 2

In [27]:
# going to assume the scale starts at 0
# this is going to return the value of the box that is rounded down to the nearest box_size
def updateBoxPrice(price, box_size, XO):
    if XO == 'X':
        if box_size >= 1:
            return price - (price % box_size)
        else:
            inter = math.ceil(price)
            while inter > price:
                inter = inter - box_size
            return inter
    else:
        if box_size >= 1:
            return price - (price % box_size) + box_size
        else:
            inter = int(price)
            while inter < price:
                inter = inter + box_size
            return inter
# def updateBoxPriceO(high, low, XO, box_size, adj_close):

#     return adj_close - (adj_close % box_size)+box_size
        
        
#     if XO == 'X':
#         mod_val = high % box_size
#         return high - mod_val
#     else:
#         mod_val = low % box_size
#         return low - mod_val

In [28]:
def add_boxes(old_price, new_price, box_size, XO):
    
    boxes_diff = updateBoxPrice(old_price, box_size, XO) - updateBoxPrice(new_price, box_size, XO)
    #print(str(inter/box_size))
    return abs(int(boxes_diff/box_size))

In [29]:
def column_X (reversal, df, row):
    # try adding an X with the high price.
    # if can't add an X:
    # try low and if it creates a 3 box reversal, then use that
    # otherwise do nothing
    box_size = updateBoxSize(row['high'])
    box_price = updateBoxPrice(row['high'], box_size, 'X')
    
  #  added_boxes = add_boxes(row['high'], df[-1]['high'], box_size, 'X')
  #  sub_boxes = add_boxes(df[-1]['low'], row['low'], box_size, 'X')          
    
    if row['high'] >= df[-1]['box_high']+box_size:
       # print(row['high'])
        df[-1]['box_high'] = updateBoxPrice(row['high'],box_size,'X')
        
        df[-1]['high'] = row['high']               
        
#         if row['low'] < df[-1]['low']: 
#             df[-1]['low'] = row['low']       
        
        df[-1]['date_end'] = row['date']
        df[-1]['day'][row['date']] = {'box_high': df[-1]['box_high'], 
                                    'box_low' : df[-1]['box_low'],
                                      'high':row['high'],
                                      'low':row['low'],
                                      'close':row['close'],
                                         'box_size':box_size}
        
    elif row['low'] <= df[-1]['box_high']-((reversal)*box_size):
         
        # creating a new column of Os        
        df_temp = {'date_start':row['date'],
                    'date_end':row['date'],
                    'XO':'O', # the high and low shouldn't matter because we are comparing box prices
                    'high': row['high'],
                    'low': row['low'],
                    'box_high': (df[-1]['box_high']-box_size),# here we need to append the boxes to the O column to start at the box right below the highest box in the X column
                    'box_low': updateBoxPrice(row['low'],updateBoxSize(row['low']),'O'),
                    'day':{row['date']:
                        {'box_high':(df[-1]['box_high']-box_size), 
                        ""'box_low' : updateBoxPrice(row['low'],updateBoxSize(row['low']),'O'),
                        'high':row['high'],
                         'low':row['low'],
                         'close':row['close'],
                        'box_size':box_size}}}
        df.append(df_temp)
    else:
        # if no movement in column
        df[-1]['date_end'] = row['date']
        df[-1]['day'][row['date']] = {'box_high': df[-1]['box_high'],
                                      'box_low' : df[-1]['box_low'],
                                      'high':row['high'],
                                      'low':row['low'],
                                      'close':row['close'],
                                     'box_size' : box_size}
        
    return df

In [30]:
def column_O (reversal, df, row):
    # use the low if you can create a new O box
    # use the high when another O can't be drawn and we creates a 3 box reversal
    # ignore else
    
    box_size = updateBoxSize(row['close'])
    box_price = updateBoxPrice(row['close'], box_size, 'O')
 
    sub_boxes = add_boxes(row['low'],df[-1]['low'], box_size, 'O')
    added_boxes = add_boxes(row['high'],df[-1]['high'], box_size, 'O')    
#    print(added_boxes)
#    print(sub_boxes)  
#     print("O added_boxes: " + str(added_boxes))
#     print("O sub_boxes: " + str(sub_boxes))    
#     print('O box_high: ' + (str(df[-1]['box_high'])))
#     print('O box_low: ' + (str(df[-1]['box_low'])))
#     print('O high: ' + str(df[-1]['high']))    
#     print('O low: ' + str(df[-1]['low']))    
#     print('O date: ' +row['date']) 
    
    if row['low'] <= df[-1]['box_low']-box_size:


        df[-1]['box_low'] = updateBoxPrice(row['low'],box_size,'O')

        df[-1]['low'] = row['low']
        
#         if row['high'] > df[-1]['high']: 
#             df[-1]['high'] = row['high']
        
        df[-1]['date_end'] = row['date']
        
        df[-1]['day'][row['date']] = {'box_high': df[-1]['box_high'],
                                       'box_low' : df[-1]['box_low'],
                                      'high':row['high'],
                                      'low':row['low'],
                                      'close':row['close'],
                                         'box_size':box_size}
        
    elif row['high'] >= df[-1]['box_low']+((reversal)*box_size):


        df_temp = {'date_start':row['date'],
                    'date_end':row['date'],
                    'XO':'X', # the high and low shouldn't matter because we are comparing box prices
                    'high': row['high'],
                    'low': row['low'],
                    'box_high': updateBoxPrice(row['high'],updateBoxSize(row['high']), 'X'), # here we need to append the boxes to the O column to start at the box right below the highest box in the X column
                    'box_low': df[-1]['box_low'] + box_size,
                    'day':{row['date']:
                        {'box_high':updateBoxPrice(row['high'],updateBoxSize(row['high']), 'X'),
                         'box_low' : df[-1]['box_low'] + box_size,
                        'high':row['high'],
                         'low':row['low'],
                         'close':row['close'],
                            'box_size':box_size}}}
        df.append(df_temp)
    else:
        # if no movement in column
        df[-1]['date_end'] = row['date']
        df[-1]['day'][row['date']] = {'box_high': df[-1]['box_high'],
                                      'box_low' : df[-1]['box_low'],
                                      'high':row['high'],
                                      'low':row['low'],
                                      'close':row['close'],
                                         'box_size':box_size}
    return df

In [31]:

def constructPFChart(data):
    # starting out, we assume that the first box is an X

    box_size = updateBoxSize(data['high'].iloc[0])
    box_price = updateBoxPrice(data['high'].iloc[0], box_size, 'X')
    
    reversal = 3
    df = []
    df_temp = {'date_start':data['date'].iloc[0], 
           'date_end':data['date'].iloc[0],
           'XO':'X',
           'high':data['high'].iloc[0],
           'low':data['low'].iloc[0],
            'box_high':box_price,
            'box_low':box_price-((reversal-1)*box_size),
            'day': {data['date'].iloc[0]:{'box_high': box_price, 
                                     'box_low' : box_price-((reversal-1)*box_size),
                                     'high':data['high'].iloc[0], 
                                     'low':data['low'].iloc[0], 
                                     'close':data['close'].iloc[0],
                                         'box_size':box_size}}}
    df.append(df_temp)

    for index, row in data.iloc[1:].iterrows():
        #print(row)
        #print()
        #print(df)
        #print()        
        # check if the previous day's column is an X or an O
        if df[-1]['XO'] == 'X':
           # print('X')
           # print(row)
            df = column_X(reversal, df, row)
        else:
           # print('O')
           # print(row)            
            df = column_O(reversal, df, row)

    return df

In [32]:
# need to replace last box price with highest and lowest box price
def get_ratings(pf_data, query_data):
    


    # need to first get start and end index
    start_column = 0
    end_column = len(pf_data)
   # print(pf_data[0])
    for i in range(len(pf_data)):
        if query_data.iloc[0]['date'] in pf_data[i]['day']:
            start_column = i
            break
            
    for i in range(start_column, len(pf_data)):
        if query_data.iloc[-1]['date'] in pf_data[i]['day']:
            end_column = i
            break
              
    # now we get the ratings
    # if X, then look at previous X's column
    # if current price is higher than previous X's column's high
    # that is a 1
    # if in a O column, and you go below the previous O column's low,
    # that is a sell mode with rating 4
    # if you're in a sell mode and you move to a column of X's, that is a rating of 3
    # if you're in a buy mode and you move into a column of O's that is a rating of 2
    # going through each date of the query data
    ratings = []
    boxes = []
    XOs = []
    for index, row in query_data.iterrows():
#        print(row['date'])
        # finding where it is in the pf chart

        while row['date'] not in pf_data[start_column]['day']:

            start_column += 1
            
#        print(pf_data[start_column]['day'][row['date']]['box_price'])
#        print(row)
        if pf_data[start_column]['XO'] == 'X':
            boxes.append(pf_data[start_column]['day'][row['date']]['box_high'])
        else:
            boxes.append(pf_data[start_column]['day'][row['date']]['box_low'])
        XOs.append(pf_data[start_column]['XO'])
        
        if pf_data[start_column]['XO'] == 'X':
            # Note: clearly 2 columns back is also an X  (gotta be careful abt -2 if we started at 0 or 1)              
            
            if boxes[-1] > pf_data[start_column - 2]['box_high']:
                ratings.append(1)
            else:
                if len(ratings) == 0:
                    ratings.append(3)
                elif ratings[-1] == 1:
                    ratings.append(1)
                else:
                    ratings.append(3)
        else:

            if boxes[-1] < pf_data[start_column - 2]['box_low']:
                ratings.append(4)
            else:
                if len(ratings) == 0:
                    ratings.append(2)
                elif ratings[-1] == 4:
                    ratings.append(4)
                else:
                    ratings.append(2)
  #  print(len(ratings))
  #  print(len(boxes))
    query_data['PF_rating'] = ratings
    query_data['box_price'] = boxes
    query_data['XO'] = XOs

    return query_data

In [33]:
def get_PF_Ratings(full_data, asset):

    pf_data = constructPFChart(full_data)
    

    full_data['asset'] = asset 
    return get_ratings(pf_data, full_data)

In [38]:
df = pd.read_csv('data/AAPL.csv')

In [39]:
df[4900:5000]

      Unnamed: 0        date   open   high    low  close
4900        4900  06-10-2009  17.87  17.88  17.37  17.62
4901        4901  06-11-2009  17.53  17.78  17.41  17.58
4902        4902  06-12-2009  17.44  17.48  17.09  17.21
4903        4903  06-15-2009  17.09  17.20  16.95  17.10
4904        4904  06-16-2009  17.17  17.40  17.10  17.13
4905        4905  06-17-2009  17.17  17.27  16.90  17.03
4906        4906  06-18-2009  17.10  17.34  17.03  17.07
4907        4907  06-19-2009  17.35  17.53  17.20  17.52
4908        4908  06-22-2009  17.67  17.78  17.13  17.26
4909        4909  06-23-2009  17.14  17.21  16.69  16.84
4910        4910  06-24-2009  17.01  17.27  16.94  17.11
4911        4911  06-25-2009  17.05  17.61  16.99  17.57
4912        4912  06-26-2009  17.56  18.04  17.56  17.89
4913        4913  06-29-2009  18.02  18.08  17.78  17.84
4914        4914  06-30-2009  17.91  18.07  17.81  17.89
4915        4915  07-01-2009  18.03  18.17  17.90  17.94
4916        4916  07-02-2009  17.75  17.94  17.56  17.59
4917        4917  07-06-2009  17.42  17.46  17.12  17.41
4918        4918  07-07-2009  17.40  17.55  16.98  17.01
4919        4919  07-08-2009  17.08  17.34  16.89  17.24
4920        4920  07-09-2009  17.31  17.34  17.08  17.13
4921        4921  07-10-2009  17.13  17.46  17.13  17.40
4922        4922  07-13-2009  17.53  17.88  17.28  17.88
4923        4923  07-14-2009  17.84  17.99  17.73  17.87
4924        4924  07-15-2009  18.22  18.47  18.13  18.45
4925        4925  07-16-2009  18.31  18.60  18.29  18.53
4926        4926  07-17-2009  18.73  19.10  18.67  19.06
4927        4927  07-20-2009  19.25  19.48  18.96  19.21
4928        4928  07-21-2009  19.26  19.28  18.81  19.03
4929        4929  07-22-2009  19.82  19.94  19.61  19.69
...          ...         ...    ...    ...    ...    ...
4970        4970  09-18-2009  23.35  23.44  23.21  23.24
4971        4971  09-21-2009  23.15  23.26  22.82  23.12
4972        4972  09-22-2009  23.27  23.29  22.97  23.18
4973        4973  09-23-2009  23.29  23.73  23.25  23.30
4974        4974  09-24-2009  23.52  23.58  22.96  23.09
4975        4975  09-25-2009  22.87  23.30  22.79  22.91
4976        4976  09-28-2009  23.10  23.45  23.03  23.39
4977        4977  09-29-2009  23.46  23.54  23.15  23.29
4978        4978  09-30-2009  23.38  23.42  22.94  23.29
4979        4979  10-01-2009  23.29  23.39  22.70  22.72
4980        4980  10-02-2009  22.79  23.36  22.78  23.23
4981        4981  10-05-2009  23.39  23.48  23.15  23.37
4982        4982  10-06-2009  23.59  23.87  23.53  23.87
4983        4983  10-07-2009  23.84  23.94  23.75  23.90
4984        4984  10-08-2009  23.95  24.05  23.73  23.78
4985        4985  10-09-2009  23.74  23.96  23.70  23.93
4986        4986  10-12-2009  24.00  24.06  23.82  23.97
4987        4987  10-13-2009  23.95  24.02  23.83  23.87
4988        4988  10-14-2009  24.15  24.16  23.90  24.03
4989        4989  10-15-2009  23.82  23.99  23.81  23.94
4990        4990  10-16-2009  23.79  23.91  23.60  23.62
4991        4991  10-19-2009  23.60  23.87  23.31  23.85
4992        4992  10-20-2009  25.20  25.35  24.86  24.97
4993        4993  10-21-2009  25.07  26.22  25.03  25.74
4994        4994  10-22-2009  25.72  26.11  25.44  25.78
4995        4995  10-23-2009  25.84  25.85  25.53  25.62
4996        4996  10-26-2009  25.59  25.97  25.14  25.44
4997        4997  10-27-2009  25.33  25.48  24.68  24.80
4998        4998  10-28-2009  24.84  24.88  24.01  24.17
4999        4999  10-29-2009  24.50  24.73  24.14  24.67

[100 rows x 6 columns]

In [40]:
d = get_PF_Ratings(df,"AAPL")

In [41]:
#pf_chart = constructPFChart(df)
#d[200:]
d[4900:7500]

,Unnamed: 0,date,open,high,low,close,asset,PF_rating,box_price,XO
4900,4900,06-10-2009,17.87,17.88,17.37,17.62,AAPL,1,18.0,X
4901,4901,06-11-2009,17.53,17.78,17.41,17.58,AAPL,1,18.0,X
4902,4902,06-12-2009,17.44,17.48,17.09,17.21,AAPL,1,18.0,X
4903,4903,06-15-2009,17.09,17.20,16.95,17.10,AAPL,1,18.0,X
4904,4904,06-16-2009,17.17,17.40,17.10,17.13,AAPL,1,18.0,X
4905,4905,06-17-2009,17.17,17.27,16.90,17.03,AAPL,1,18.0,X
4906,4906,06-18-2009,17.10,17.34,17.03,17.07,AAPL,1,18.0,X
4907,4907,06-19-2009,17.35,17.53,17.20,17.52,AAPL,1,18.0,X
4908,4908,06-22-2009,17.67,17.78,17.13,17.26,AAPL,1,18.0,X
4909,4909,06-23-2009,17.14,17.21,16.69,16.84,AAPL,1,18.0,X
4910,4910,06-24-2009,17.01,17.27,16.94,17.11,AAPL,1,18.0,X
4911,4911,06-25-2009,17.05,17.61,16.99,17.57,AAPL,1,18.0,X
4912,4912,06-26-2009,17.56,18.04,17.56,17.89,AAPL,1,18.0,X
4913,4913,06-29-2009,18.02,18.08,17.78,17.84,AAPL,1,18.0,X
4914,4914,06-30-2009,17.91,18.07,17.81,17.89,AAPL,1,18.0,X
4915,4915,07-01-2009,18.03,18.17,17.90,17.94,AAPL,1,18.0,X
4916,4916,07-02-2009,17.75,17.94,17.56,17.59,AAPL,1,18.0,X
4917,4917,07-06-2009,17.42,17.46,17.12,17.41,AAPL,1,18.0,X
4918,4918,07-07-2009,17.40,17.55,16.98,17.01,AAPL,1,18.0,X
4919,4919,07-08-2009,17.08,17.34,16.89,17.24,AAPL,1,18.0,X
4920,4920,07-09-2009,17.31,17.34,17.08,17.13,AAPL,1,18.0,X
4921,4921,07-10-2009,17.13,17.46,17.13,17.40,AAPL,1,18.0,X
4922,4922,07-13-2009,17.53,17.88,17.28,17.88,AAPL,1,18.0,X
4923,4923,07-14-2009,17.84,17.99,17.73,17.87,AAPL,1,18.0,X
4924,4924,07-15-2009,18.22,18.47,18.13,18.45,AAPL,1,18.0,X
4925,4925,07-16-2009,18.31,18.60,18.29,18.53,AAPL,1,18.5,X
4926,4926,07-17-2009,18.73,19.10,18.67,19.06,AAPL,1,19.0,X
4927,4927,07-20-2009,19.25,19.48,18.96,19.21,AAPL,1,19.0,X
4928,4928,07-21-2009,19.26,19.28,18.81,19.03,AAPL,1,19.0,X
4929,4929,07-22-2009,19.82,19.94,19.61,19.69,AAPL,1,19.5,X
...,...,...,...,...,...,...,...,...,...,...
7361,7361,03-21-2019,190.02,196.33,189.81,195.09,AAPL,1,196.0,X
7362,7362,03-22-2019,195.34,197.69,190.78,191.05,AAPL,1,196.0,X
7363,7363,03-25-2019,191.51,191.98,186.60,188.74,AAPL,2,188.0,O
7364,7364,03-26-2019,191.66,192.88,184.58,186.79,AAPL,2,186.0,O
7365,7365,03-27-2019,188.75,189.76,186.55,188.47,AAPL,2,186.0,O
7366,7366,03-28-2019,188.95,189.56,187.53,188.72,AAPL,2,186.0,O
7367,7367,03-29-2019,189.83,190.08,188.54,189.95,AAPL,2,186.0,O
7368,7368,04-01-2019,191.64,191.68,188.38,191.24,AAPL,2,186.0,O
7369,7369,04-02-2019,191.09,194.46,191.05,194.02,AAPL,3,194.0,X
7370,7370,04-03-2019,193.25,196.50,193.15,195.35,AAPL,3,196.0,X
7371,7371,04-04-2019,194.79,196.37,193.14,195.69,AAPL,3,196.0,X
7372,7372,04-05-2019,196.45,197.10,195.93,197.00,AAPL,3,196.0,X
7373,7373,04-08-2019,196.42,200.23,196.34,200.10,AAPL,1,200.0,X
7374,7374,04-09-2019,200.32,202.85,199.23,199.50,AAPL,1,200.0,X
7375,7375,04-10-2019,198.68,200.74,198.18,200.62,AAPL,1,200.0,X
7376,7376,04-11-2019,200.85,201.00,198.44,198.95,AAPL,1,200.0,X
7377,7377,04-12-2019,199.20,200.14,196.21,198.87,AAPL,1,200.0,X
7378,7378,04-15-2019,198.58,199.85,198.01,199.23,AAPL,1,200.0,X
7379,7379,04-16-2019,199.46,201.37,198.56,199.25,AAPL,1,200.0,X
7380,7380,04-17-2019,199.54,203.38,198.61,203.13,AAPL,1,200.0,X
7381,7381,04-18-2019,203.12,204.15,202.52,203.86,AAPL,1,204.0,X
7382,7382,04-22-2019,202.83,204.94,202.34,204.53,AAPL,1,204.0,X
7383,7383,04-23-2019,204.43,207.75,203.90,207.48,AAPL,1,204.0,X
7384,7384,04-24-2019,207.36,208.48,207.05,207.16,AAPL,1,208.0,X
7385,7385,04-25-2019,206.83,207.76,205.12,205.28,AAPL,1,208.0,X
7386,7386,04-26-2019,204.90,205.00,202.12,204.30,AAPL,1,208.0,X
7387,7387,04-29-2019,204.40,205.97,203.86,204.61,AAPL,1,208.0,X
7388,7388,04-30-2019,203.06,203.40,199.11,200.67,AAPL,1,208.0,X
7389,7389,05-01-2019,209.88,215.31,209.23,210.52,AAPL,1,212.0,X
7390,7390,05-02-2019,209.84,212.65,208.13,209.15,AAPL,1,212.0,X

In [70]:
#len(pf_chart) #150
#pf_chart[211]

In [71]:
#pf_chart[300]

In [77]:
#df = pd.read_csv('data/V.csv')

In [84]:
#d = get_PF_Ratings('05-02-2008', '01-01-2012', 'd', "V",df)

           date   high    low  close
32   05-02-2008  20.24  18.73  19.14
33   05-05-2008  19.78  18.69  19.67
34   05-06-2008  20.39  19.60  20.25
35   05-07-2008  20.78  20.28  20.47
36   05-08-2008  20.76  19.88  20.19
37   05-09-2008  20.05  19.09  19.17
38   05-12-2008  19.54  18.06  18.94
39   05-13-2008  19.31  18.69  19.05
40   05-14-2008  19.51  18.84  19.02
41   05-15-2008  19.18  18.76  19.02
42   05-16-2008  19.16  18.79  19.05
43   05-19-2008  19.60  19.00  19.27
44   05-20-2008  19.39  18.95  19.14
45   05-21-2008  19.30  18.62  18.70
46   05-22-2008  18.64  17.62  17.88
47   05-23-2008  17.88  17.37  17.66
48   05-27-2008  18.26  17.20  18.21
49   05-28-2008  18.95  18.40  18.95
50   05-29-2008  20.11  19.20  19.72
51   05-30-2008  20.25  19.85  19.97
52   06-02-2008  20.11  19.57  19.91
53   06-03-2008  20.34  19.90  20.25
54   06-04-2008  20.38  19.72  19.77
55   06-05-2008  20.18  19.80  20.18
56   06-06-2008  19.89  19.32  19.35
57   06-09-2008  19.65  18.63  19.00
58   06-10-2008  19.17  18.41  18.58
59   06-11-2008  18.73  17.95  17.98
60   06-12-2008  18.68  18.17  18.40
61   06-13-2008  18.92  18.54  18.86
..          ...    ...    ...    ...
928  11-18-2011  21.73  21.44  21.53
929  11-21-2011  21.78  21.12  21.62
930  11-22-2011  21.85  21.48  21.53
931  11-23-2011  21.75  21.15  21.17
932  11-25-2011  21.43  21.05  21.10
933  11-28-2011  22.22  21.60  22.16
934  11-29-2011  22.17  21.94  22.02
935  11-30-2011  23.00  22.44  22.99
936  12-01-2011  23.29  22.70  23.18
937  12-02-2011  23.37  22.95  23.04
938  12-05-2011  23.30  22.57  22.77
939  12-06-2011  22.82  22.54  22.61
940  12-07-2011  23.10  22.53  23.01
941  12-08-2011  23.20  22.66  22.71
942  12-09-2011  23.10  22.64  23.04
943  12-12-2011  23.09  22.72  22.98
944  12-13-2011  23.12  22.65  22.74
945  12-14-2011  22.93  22.53  22.84
946  12-15-2011  23.07  22.66  22.72
947  12-16-2011  23.17  22.85  23.10
948  12-19-2011  23.56  23.12  23.37
949  12-20-2011  24.06  23.55  24.03
950  12-21-2011  24.00  23.59  23.88
951  12-22-2011  24.17  23.73  23.83
952  12-23-2011  24.30  23.83  24.29
953  12-27-2011  24.52  24.16  24.16
954  12-28-2011  24.18  23.85  23.88
955  12-29-2011  24.48  23.90  24.45
956  12-30-2011  24.46  24.06  24.07
957  01-03-2012  24.51  24.14  24.42

[916 rows x 4 columns]

In [86]:
#d[0:50]

          date   high    low  close asset  PF_rating  box_price XO
32  05-02-2008  20.24  18.73  19.14     V          3       20.0  X
33  05-05-2008  19.78  18.69  19.67     V          3       20.0  X
34  05-06-2008  20.39  19.60  20.25     V          3       20.0  X
35  05-07-2008  20.78  20.28  20.47     V          3       20.0  X
36  05-08-2008  20.76  19.88  20.19     V          3       20.0  X
37  05-09-2008  20.05  19.09  19.17     V          3       20.0  X
38  05-12-2008  19.54  18.06  18.94     V          2       18.5  O
39  05-13-2008  19.31  18.69  19.05     V          2       18.5  O
40  05-14-2008  19.51  18.84  19.02     V          2       18.5  O
41  05-15-2008  19.18  18.76  19.02     V          2       18.5  O
42  05-16-2008  19.16  18.79  19.05     V          2       18.5  O
43  05-19-2008  19.60  19.00  19.27     V          2       18.5  O
44  05-20-2008  19.39  18.95  19.14     V          2       18.5  O
45  05-21-2008  19.30  18.62  18.70     V          2       18.5  O
46  05-22-2008  18.64  17.62  17.88     V          2       16.5  O
47  05-23-2008  17.88  17.37  17.66     V          2       16.5  O
48  05-27-2008  18.26  17.20  18.21     V          3       18.0  X
49  05-28-2008  18.95  18.40  18.95     V          3       18.0  X
50  05-29-2008  20.11  19.20  19.72     V          1       22.0  X
51  05-30-2008  20.25  19.85  19.97     V          2       20.5  O
52  06-02-2008  20.11  19.57  19.91     V          2       20.5  O
53  06-03-2008  20.34  19.90  20.25     V          2       20.5  O
54  06-04-2008  20.38  19.72  19.77     V          2       20.5  O
55  06-05-2008  20.18  19.80  20.18     V          2       20.5  O
56  06-06-2008  19.89  19.32  19.35     V          2       20.5  O
57  06-09-2008  19.65  18.63  19.00     V          2       18.5  O
58  06-10-2008  19.17  18.41  18.58     V          2       18.5  O
59  06-11-2008  18.73  17.95  17.98     V          2       16.5  O
60  06-12-2008  18.68  18.17  18.40     V          3       18.0  X
61  06-13-2008  18.92  18.54  18.86     V          3       18.0  X
62  06-16-2008  19.31  18.76  19.26     V          3       20.0  X
63  06-17-2008  19.66  19.35  19.58     V          3       20.0  X
64  06-18-2008  19.59  19.30  19.40     V          3       20.0  X
65  06-19-2008  19.52  18.88  19.49     V          3       20.0  X
66  06-20-2008  19.54  19.14  19.33     V          3       20.0  X
67  06-23-2008  19.51  18.74  18.75     V          3       20.0  X
68  06-24-2008  19.18  18.16  19.12     V          2       18.5  O
69  06-25-2008  19.53  18.93  18.98     V          2       18.5  O
70  06-26-2008  18.67  18.05  18.30     V          2       18.5  O
71  06-27-2008  19.17  18.17  19.10     V          2       18.5  O
72  06-30-2008  19.16  18.57  18.81     V          2       18.5  O
73  07-01-2008  18.83  18.32  18.83     V          2       18.5  O
74  07-02-2008  19.06  18.34  18.37     V          2       18.5  O
75  07-03-2008  18.46  17.87  18.06     V          2       16.5  O
76  07-07-2008  18.49  17.12  17.49     V          3       18.0  X
77  07-08-2008  18.39  16.71  18.29     V          3       18.0  X
78  07-09-2008  18.30  17.44  17.55     V          3       18.0  X
79  07-10-2008  17.95  17.09  17.87     V          3       18.0  X
80  07-11-2008  17.91  17.12  17.24     V          3       18.0  X
81  07-14-2008  17.62  16.77  16.79     V          3       18.0  X